<h1><%= @vendor.name %></h1>
<br>
<h3>Contact Info:</h3>
<h4>Name: <%= @vendor.contact %></h4>
<h4>Phone: <%= @vendor.phone %></h4>
<h3>Credit Accepted?: <%= @vendor.credit_accepted? %></h3>
<h3>Description: <%= @vendor.description %></h3>