<h1>Markets</h1>
<br>
<table>
  <thead>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
  </thead>
  <% @markets.each do | market | %>
    <tr id="mrkt-<%= market.id %>">
      <td><%= market.name %></td>
      <td><%= market.city %></td>
      <td><%= market.state %></td>
      <td><%= button_to "More Info", market_path(id: market.id), method: :get %></td>
    </tr>
  <% end %>
</table>
